.md-toolbar-tools h1 {
	font-size: inherit;
	font-weight: inherit;
	margin: inherit;
}

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
	color: white;
}

/* Material icons */
ng-md-icon {
	fill: white;
	-webkit-transition: fill 750ms ease-in-out;
	-moz-transition: fill 750ms ease-in-out;
	-o-transition: fill 750ms ease-in-out;
	transition: fill 750ms ease-in-out;
}
ng-md-icon > svg {
	-webkit-transition: width 750ms ease-in-out, height 750ms ease-in-out;
	-moz-transition: width 750ms ease-in-out, height 750ms ease-in-out;
	-o-transition: width 750ms ease-in-out, height 750ms ease-in-out;
	transition: width 750ms ease-in-out, height 750ms ease-in-out;
}

/* Tab styles */
.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-canvas {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }
